PORT=3000
SERVICE_NAME=api-gateway

JWT_SECRET=change_this_to_a_random_64_char_string
FRONTEND_URL=http://localhost:5173

# Internal service URLs
AUTH_SERVICE_URL=http://auth-service:3001
USER_SERVICE_URL=http://user-service:3002
LISTING_SERVICE_URL=http://listing-service:3003
CHAT_SERVICE_URL=http://chat-service:3004
ADMIN_SERVICE_URL=http://admin-service:3005
AI_SERVICE_URL=http://ai-service:3006
SEARCH_SERVICE_URL=http://search-service:3007
NOTIFICATION_SERVICE_URL=http://notification-service:3008
