PORT=3000
SERVICE_NAME=api-gateway

JWT_SECRET=your_jwt_secret_here

FRONTEND_URL=http://localhost:5173

# Service URLs
AUTH_SERVICE_URL=http://localhost:3001
USER_SERVICE_URL=http://localhost:3002
LISTING_SERVICE_URL=http://localhost:3003
CHAT_SERVICE_URL=http://localhost:3004
ADMIN_SERVICE_URL=http://localhost:3005
AI_SERVICE_URL=http://localhost:3006
SEARCH_SERVICE_URL=http://localhost:3007
NOTIFICATION_SERVICE_URL=http://localhost:3008
